.git
.github
.gitlab-ci.yml
.golangci.yml
.goreleaser.yml
.tx
.versionrc
CHANGELOG.md
SECURITY.md
README.md
LICENSE
docker-compose.yml
docker_config.json
frontend/node_modules
frontend/dist
filebrowser
